<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <General>
  <Students>
    <ActiveEmployeeType>Student</ActiveEmployeeType>
    <DeprovisionedEmployeeType>FormerStudent</DeprovisionedEmployeeType>
    <DeprovisionedADOU>OU=FormerStudents,OU=School_Users,DC=lskysd,DC=ca</DeprovisionedADOU>
    <EmailDomain>lskysd.ca</EmailDomain>
  </General>
  </Students>
  <Notifications>
    <WebHookURL></WebHookURL>
  </Notifications>
  <ConnectionStrings>
    <SchoolLogic>DATABASE CONNECTION STRING GOES HERE</SchoolLogic>
  </ConnectionStrings>
</Settings>
